<div class="jumbotron">
    <h1>Angular 2 Tour of Heroes Web API</h1>
    <p class="lead">The official Angular 2 Tour of Heroes guide is a great resource for those who are trying to learn Angular 2.  If you have completed the Tour of Heroes guide, you will know that the
     HTTP portion of the tutorial demonstrates how to connect the Tour of Heroes application to an angular-in-memory-web-api.  I created the Angular 2 Tour of Heroes Web API so developers could modify the Tour of 
    Heroes guide to use a real REST Web API.  The Web API is hosted in Azure, requests from all schemes, origins and ports are accepted and it uses SQL Azure as the datastore.</p>
    <p><a href="@Url.Action("Index","Swagger")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Tour of Heroes Guide</h2>
        <p>The official Angular 2 Tour of Heroes guide covers core fundamentals of Angular 2.</p>
        <p><a class="btn btn-default" href="https://angular.io/docs/ts/latest/tutorial/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Blog Entry</h2>
        <p>I created a blog post describing the Angular 2 Tour of Heroes Web API in more detail and how to modify the
        completed official Angular 2 Tour of Heroes application to consume the Web API.</p>
        <p><a class="btn btn-default" href="http://blog.greensharesthoughts.com/angular-2-tour-of-heroes-web-api-in-azure/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>My Tour of Heroes Application</h2>
        <p>I completed the Tour of Heroes guide, modified it to work with the Angular 2 Web API and deployed the application
        to Azure.</p>
        <p><a class="btn btn-default" href="http://angulariotourofheroesweb.azurewebsites.net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Web API on GitHub</h2>
        <p>I placed the source code for the Angular 2 Tour of Heroes Web API on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/michaeldeongreen/Angular.io.QuickStart.Web.Api">Learn more &raquo;</a></p>
    </div>
</div>
